.LandingPage {
    background: url(docs/assets/images/LandingPage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.MainPage {
    color: white;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #F56040;
    color: white;
    margin-left: 10%;
}